<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Index Page</title>
</head>
<body>
    <h1>THis is the index page</h1>

	{% if user.is_authenticated %}
	    <h2 style="text-align:center;color:red">Welcome, {{ user.username  }}!</h2>
        <a href="http://127.0.0.1:8000/accounts/logout"><input type="button" value="Logout"></a>
    {% else %}
        <h4>Login to see the welcome message.</h4>
        <a href="http://127.0.0.1:8000/accounts/login"><input type="button" value="Login"></a>
	{% endif %}
</body>
</html>
